.primaryRuneTreeContainer{
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center; 
}

.primaryRuneTreeContainer.vertical{
    flex-direction: column;
}

.primaryRuneTreeContainer.horizontal{
    flex-direction: row;
}

.primaryRuneTreeContainer.vertical .keystone{
    width: 100%;
}

.primaryRuneTreeContainer.horizontal .keystone{
    flex: 2;
    width: 128px;
}

.primaryRuneTreeContainer.vertical .rune{
    margin-top: 2vw;
    width: 50%;
}

.primaryRuneTreeContainer.horizontal .rune{
    margin-left: 2vw;
    flex: 1;
    object-fit: contain;
    width: 128px;
}
  
