.secondaryRuneTreeContainer{
    width: 95vw;
    display: flex;
    justify-items: start;
    align-items: center;
}

.secondaryRuneTreeContainer.vertical{
    padding-top: 12vw;
    flex-direction: column;
    margin-left: -10vw;
}

.secondaryRuneTreeContainer.horizontal{
    flex-direction: row;
    margin-left: 5vw;
}

.secondaryRuneTreeContainer.vertical .rune{
    margin-top: 3vw;
    object-fit: contain;
    width: 50%;
}

.secondaryRuneTreeContainer.horizontal .rune{
    width: 128px;
    flex: 0.35;
    margin-left: 3vw;
    object-fit: contain;
}

.secondaryRuneTreeContainer.vertical .statRune{
    width: 40%;
}

.secondaryRuneTreeContainer.horizontal .statRune{
    width: 128px;
    flex: 0.3;
    object-fit: contain;
}

.secondaryRuneTreeContainer.vertical .statRune.first{
    margin-top: 5vw;
}

.secondaryRuneTreeContainer.horizontal .statRune.first{
    margin-left: 5vw;
}